<!DOCTYPE html>
<html lang="en">
  <html lang="en">
    <head>
      <%-include('head.ejs') %>
      <title>Interaction</title>
    </head>

    <body>
      <form class="send-interaction">
        <select class="send-interaction__address">
          <% accounts.forEach(account => { %>
          <option value="<%= account.privateKey %>">
            <%= account.address %>(<%= account.balance.toString() %>)
          </option>
          <% }); %>
        </select>
        <input
          class="send-interaction__to"
          type="text"
          placeholder="Enter your walletAddress"
        />
        <input
          class="send-interaction__eth"
          type="number"
          placeholder="Enter eth price to send"
        />
        <button class="send-interaction__send">RUN</button>
      </form>
      <%-include('script.ejs') %>
    </body>
  </html>
</html>
