<!DOCTYPE html>
<html lang="en">
  <html lang="en">
    <head>
      <%-include('head.ejs') %>
      <title>Interaction</title>
    </head>

    <body class="container">
      <form class="send-eth">
        <div class="send-eth__address">
          <select class="send-eth__select">
            <% accounts.forEach(account => { %>
            <option value="<%= account.privateKey %>">
              <%= account.address %>(<%= account.balance.toString() %>)
            </option>
            <% }); %>
          </select>
          <div type="button" class="send-eth__copy">
            <i class="far fa-copy"></i>
          </div>
        </div>

        <input
          class="send-eth__to"
          type="text"
          placeholder="Enter your walletAddress"
        />
        <input
          class="send-eth__eth"
          type="number"
          placeholder="Enter eth price to send"
        />
        <button type="submit" class="send-eth__send">SEND</button>
      </form>
      <div class="contract">
        <p class="contract__address">Contract: -</p>
        <button class="contract__deploy">Deploy</button>
      </div>

      <button class="call-tx">Call</button>
      <div class="compile">
        <select class="compile__solFiles">
          <% solFiles.forEach(solFile => { %>
          <option value="<%= solFile.path %>"><%= solFile.path %></option>
          <% }); %>
        </select>
        <button class="compile__submit">Copile</button>
      </div>

      <%-include('script.ejs') %>
      <script
        nonce="<%= nonce %>"
        src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"
      ></script>
    </body>
  </html>
</html>
