<!DOCTYPE html>
<html lang="en">
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta
        http-equiv="Content-Security-Policy"
        content="default-src 'none'; style-src <%= cspSource %>; script-src 'nonce-<%= nonce %>';"
      />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <link href="<%= styleResetUri %>" rel="stylesheet" />
      <link href="<%= styleCommonUri %>" rel="stylesheet" />
      <link href="<%= styleMainUri %>" rel="stylesheet" />

      <title>Cat Colors</title>
    </head>
    <body>
      <div class="test-container">
        <input type="text" placeholder="Enter your walletAddress" />
        <input type="text" placeholder="Enter eth price to send" />
        <button>RUN</button>
      </div>
      <script nonce="<%= nonce %>" src="<%= script %>"></script>
    </body>
  </html>
</html>
